body
{
    margin:0;
}
h1{
    font-size: 50px;
}
p
{
    font-size: 20px;
}
ul
{margin:0px;}

li {
    display: inline;
    margin:100px;
  }

.nav
{
    background-color: black;
    background-repeat: no-repeat;
    height:100px;
    margin-top: 0px;
    
}
.navbutton
{
    color:white;
    text-decoration: none;
    padding:10px 30px;
    border-radius: 20px;
    font-weight: 700;
    background-image: linear-gradient(orange,tomato);
   
}
.firstsection
{

}
.secondsection
{
    background-image: url(images/shapes/7.png);
    
    margin-top: 50px;
}
.flexible
{
    display: flex;
}
.half
{
    width: 50%;
    padding:20px;
}
.onethird
{
    width: 38%;
    margin:20px;
    padding:20px;
}
.onethird img
{
    width: 100%;
    height:40%;
}
.half img
{
    width:80%;
}
.orangemake
{
    color:orange;
}
.buttontype
{
color:white;
text-decoration: none;
padding:10px 30px;
border-radius: 20px;
font-weight: 700;
background-image: linear-gradient(orange,tomato);
}

.buttonbelow
{
    margin-top: 40px;
    margin-left: 200px;
}
.thirdsection p{
    text-align: center;
}
.thirdsection h1
{
    text-align: center;
}
.forthsectiondiv 
{
   margin-left :50px;
   padding: 10px;
}
.forthsection h1
{
    text-align: center;
}
.forthsection p
{
    margin:40px;
    padding:30px;
}

.recepie
{
    margin-left:30px;
    margin-bottom: 30px;
}
.recepie_element
{
    box-shadow: 5px 5px 40px gray;
    border-radius: 20px;
    width: 50%;
    margin-left:5%;
    margin-right: 5%;
    height:400px;;
    


}
.recepie_element img{
    width:100%;
    height:70%;
    border-radius: 30px;
}
.footer
{
    height:50%;
    width: 100%;
   
    background-color: black;
    color:white;
    text-align: center;
    padding:20px;
    
}
.footer div
{
    padding-bottom: 50px;
    
    
    
}

.footer h1
{
    padding-top:20px
}