body
{
    margin:0;
  
}
h1{
    font-size: 60px;
    line-height:20px;
    
}
h2{
    font-size: 40px;
    line-height:20px;
    
}

p
{
    font-size: 20px;
}


.firstsection
{
    
}
.section1_half
{


padding:100px;
width:50%;
margin:0 auto;

}
.section1_half2
{

width:50%;
margin:0 auto;

}
.section1_half p
{
    padding-top:40px;
}
.section2_half
{
    width: 50%;



}
.firstsection h1 {

    margin-left: 40px;
    margin-top: 0px;
}
.firstsection p {

    margin-left: 40px;
}
.firstsection .half
{
    padding:40px;
}
.imageclass
{
    height: 100%;
    width: 100%;
}
.secondsection
{
    background-image: url(images/shapes/7.png);
    
    margin-top: 50px;
    height: 550px;
}

.flexible
{
    display: flex;
}
.half
{
    width: 50%;
    padding:20px;
}
.onethird
{
    width: 50%;
    margin:10px;
    padding:10px;
}
.onethird img
{
    width: 100%;
    height:40%;
}
.half img
{
    width:100%;
}
.orangemake
{
    color:orange;
}
.buttontype
{
color:white;
text-decoration: none;

padding:20px 20px;
border-radius: 25px;
font-weight: 900;
font-size: 15px;
background-image: linear-gradient(orange,tomato);
}



.buttonbelow
{
    margin-left: 40px;
    margin-top: 50px;
    
}
.buttonbelow2
{
   
    margin-top: 60px;
    
}
#aligncenter{
    text-align: center;
}
.thirdsection h1
{
    text-align: center;
}
.thirdsectiondiv
{
    width:50%;
    margin: 0 auto;
   
}

.forthsectiondiv 
{
   margin-left :50px;
   padding: 10px;
}
.forthsection h1
{
    text-align: center;
}


.recepie
{
   
  
    width: 90%;
    margin:0 auto;
    

    
    
}
.recepie_element
{
    box-shadow: 5px 5px 40px gray;
    border-radius: 20px;
    width: 30%;
    margin:20px;
    
   
    
    height:400px;;
    


}
.recepie_element img{
    width:100%;
    height:60%;
    border-radius: 30px;
}
.footer
{
    height:50%;
    width: 100%;
   
    background-color: black;
    color:white;
    text-align: center;
    padding:20px;
    
}
.footer div
{
    padding-bottom: 50px;
    
    
    
}

.footer h1
{
    padding-top:20px
}