body
{
    margin:0;
  
}
h1{
    font-size: 50px;
    margin: 0;
     
}
p
{
    font-size: 20px;
}

.section1_half p
{
    padding-top:40px;
}

#section1div
{
    
    margin-top: 160px;
    margin-left: 140px; 
    width:50%;
}
#section2div
{    
    width:80%;
    margin:100px auto;   
}
.secondsection
{
    background-image: url(images/shapes/7.png);
    background-size: 100%;
     margin-top: 50px;
     height: 600px;
}


.flexible
{
    display: flex;
}
.half
{
    width: 50%;
   
}
.onethird
{
    width: 50%;
    margin:10px;
    padding:10px;
}
.onethird img
{
    width: 100%;
    height:40%;
}
.half img
{
    width:100%;
}
.orangemake
{
    color:orange;
}
.graymake
{
    color:grey;
}
.buttontype
{
color:white;
text-decoration: none;
padding:20px 20px;
border-radius: 25px;
font-weight: 900;
font-size: 15px;
background-image: linear-gradient(orange,tomato);
}

.buttonbelow
{ 
    margin-top: 60px;
    
}
.buttonbelow2
{
   
    margin-top: 60px;
    
}
.aligncenter{
    text-align: center;
}
.thirdsection
{
    padding-top: 30px;
}
.thirdsectiondiv h1
{
    text-align: center;
    
}
.thirdsectiondiv h2
{
    text-align: center;
}
.thirdsectiondiv
{
    width:50%;
    margin: 0 auto;
   
}
.forthsection
{
    padding-top: 30px;
}
.forthsection h1
{
   
    margin-bottom: 40px;
}
.forthsectiondiv 
{
   margin-left :50px;
   padding: 10px;
}
.forthsection p
{
margin-left: 30px;
}
.forthsection h1
{
    text-align: center;

}
.recepie
{
   width: 90%;
    margin:0 auto;
 
}
.recepie h1{
    font-size: 40px;
    padding: 0%;
}
.recepie_element
{
    box-shadow: 5px 5px 40px gray;
    border-radius: 20px;
    width: 26%;
    margin:40px;
    padding: 20px;;
    height:450px;;
}
.recepie_element img{
    width:100%;
    height:60%;
    border-radius: 30px;
}
.footer
{
    height:50%;
    width: 100%; 
    background-color: black;
    color:white;
    text-align: center;
    padding:20px;
}
.fifthsection
{
    margin-top: 50px;
}
.footer div
{
    padding-bottom: 50px;
    
}
.footer h1
{
    padding-top:20px
}